@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;1,100;1,200;1,300&display=swap');

/* ------------------- Set Defaults / General------------------------- */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.flashes h4 {
  line-height: 2;
}

.card-panel {
  /* margin-top: 28px; */
  background-color: rgba(255,224,130,0.90);
}

/* ------------------- /Set Defaults ------------------------- */
/* ----------------  Style Navigation Menu ------------------ */

.nav-link {
    font-size: 1.2rem;
}

/* ----------------  /Style Navigation Menu ------------------ */
/* ----------------  Style Footer ------------------ */

/* set up sticky footer form: https://materializecss.com/footer.html */
body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  /* End of set up sticky footer form: https://materializecss.com/footer.html */

footer {
    left: 0;
    bottom: 0;
}

.footer-style {
    padding: 3px;
}

.list-inline {
    list-style: none;
  }
  
  .list-inline > li {
    display: inline-block;
    padding: 10px;
  }
  
  .icon-footer {
      color: #9d9dff;
      font-size: 1.65rem;
  }

  .list-inline li a i:hover {
    color: #6741a0;
}
/* ----------------  /Style Footer ------------------ */

/* ----------------  Poems ------------------ */ 
.poem-position {
  margin-bottom: 18px;
  text-align: justify;
}

.collapsible-header {
  border: 1.2px solid #fff;
}

.poem-title {
  font-weight: 400;
  font-family: 'Lemonada', cursive, 'Montserrat';
  font-size: 18px;
  text-transform: uppercase;
}

.poem-additional-info {
  font-style: italic;
}

.poem-content {
  font-family: 'Lemonada', cursive, 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  line-height: 1.9rem;
}
/* ----------------  /Poems ------------------ */
/* ----------------  Profile ------------------ */

.btn-small {
  margin: 4px;
}

.collapsible-header .col strong {
  margin: 4px;
  line-height:40px;
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}
/* ----------------  Profile ------------------ */
