/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;1,100;1,200;1,300&display=swap');

/* ------------------- Set Defaults / General------------------------- */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

.flashes h4 {
  line-height: 2;
}

.card-panel {
  /* margin-top: 28px; */
  background-color: rgba(255,224,130,0.90);
}

.nav-ul {
  margin-right: 3rem;
}

/* hamburger icon */
.fa-bars:before {
  color:#7e57c2;
  font-size: 2.1rem;
}

/* override materialize input fields to mach this project's theme  */

element.style {
  border-bottom: 1px solid rgb(255,111,0);
  -webkit-box-shadow: 0px 1px 0px 0px rgb(255,111,0);
          box-shadow: 0px 1px 0px 0px rgb(255,111,0);
}

input.invalid[type=text]:not(.browser-default) {
  border-bottom: 1px solid #ff6f00!important;
  /* -webkit-box-shadow: 0 1px 0 0 #ff6f00; */
  -webkit-box-shadow: 0 1px 0 0 rgba(255,111,0, 0.8);
          box-shadow: 0 1px 0 0 rgba(255,111,0, 0.8);
}

input.valid[type=text]:not(.browser-default)
input.valid[type=text]:not(.browser-default):focus {
  border-bottom: 1px solid #9575cd;
  -webkit-box-shadow: 0 1px 0 0 #9575cd;
          box-shadow: 0 1px 0 0 #9575cd;
}

/* active input  */
input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #9575cd!important;
  -webkit-box-shadow: 0 1px 0 0 #9775cd!important;
          box-shadow: 0 1px 0 0 #9775cd!important;
}

input.valid[type=text]:not(.browser-default) {
  border-bottom: 1px solid #d1c4e9!important;
  -webkit-box-shadow: 0 1px 0 0 #d1c4e9!important;
          box-shadow: 0 1px 0 0 #d1c4e9!important;
}
/* /override materialize input fields to mach this project's theme  */

/* Style Dropdown menu  */

.select-dropdown li.disabled, .select-dropdown li.disabled>span, .select-dropdown li.optgroup {
  color: #444;
  background-color: #d1c4e9;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: #444;
  background-color: rgba(255,236,179,0.40);
}

/* ------------------- /Set Defaults ------------------------- */
/* ----------------  Style Navigation Menu ------------------ */

.nav-link {
  font-size: 1.25rem;
  font-weight: 500;
  font-family: 'Montserrat','Sans Serif';
  padding: 10px;
}

.btn-mobile {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    color: #343434;
    cursor: pointer;
    -webkit-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
    font-size: 11px;
    color: rgb(143, 51, 230);
    font-family: 'Montserrat', sans-serif;
}

.btn-logout{
  color: rgb(143, 51, 230);
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}

/* ----------------  /Style Navigation Menu ------------------ */
/* ----------------  Style Footer ------------------ */

/* set up sticky footer form: https://materializecss.com/footer.html */
body {
    font-family: 'Montserrat', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  main {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
  /* End of set up sticky footer form: https://materializecss.com/footer.html */

footer {
    left: 0;
    bottom: 0;
}

.footer-style {
    padding: 3px;
}

.list-inline {
    list-style: none;
  }
  
  .list-inline > li {
    display: inline-block;
    padding: 10px;
  }
  
  .icon-footer {
      color: #9d9dff;
      font-size: 1.65rem;
  }

  ul li i:hover {
    color: #9575cd;
  }
/* ----------------  /Style Footer ------------------ */

/* ----------------  Home Page ------------------ */
.benefits-heading {
  color: #7140c5;
}

.home-page-info {
  padding: 12px;
}

.style-benefits-info {
  padding: 30px;
}

.cafe-image {
  /* background-image: url(../images/cafe-inside.jpg); */
  max-width: 15rem;
  max-height: 18rem;
}

/* ----------------  Home Page ------------------ */
/* ----------------  Poems ------------------ */ 
.poem-position {
  margin-bottom: 18px;
  text-align: justify;
}

.collapsible-header {
  border: 1.2px solid #fff;
}

.poem-title {
  font-weight: 400;
  font-family: 'Lemonada', cursive, 'Montserrat';
  font-size: 18px;
  text-transform: uppercase;
}

.poem-additional-info {
  font-style: italic;
}

.poem-content {
  font-family: 'Lemonada', cursive, 'Montserrat';
  font-weight: 300;
  font-size: 16px;
  line-height: 1.9rem;
}

.input-field>label {
  color: #413e3e;
}

.amber.lighten-4 {
  background-color: rgba(255,236,179,0.80)!important;
}

.amber.lighten-3 {
  background-color: rgba(255,224,130, 0.50)!important;
}
/* ----------------  /Poems ------------------ */
/* ----------------  Profile ------------------ */

.user-profile-card-panel {
  margin-top: 30px; 
  background-color: rgba(255,224,130,0.40);
}

.btn-small {
  margin: 4px;
}

.collapsible-header .col strong {
  margin: 4px;
  line-height:40px;
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}
/* -------------------- / Profile ------------------------ */

/* --------------------  Events ------------------------ */

.young-poet-img {
  background-image: url(../images/event-young-poets.jpg);
  max-width: 15rem;
  max-height: 18rem;
}

.feedback-session-img {
  background-image: url(../images/events-img-feedback-session.jpg);
  max-width: 15rem;
  max-height: 18rem;
}
/* --------------------  /Events ------------------------ */

/* -------------------  Media Queries------------------- */

/* Set padding for benefits info on small devices  */
@media screen and (max-width: 600px) {
  .style-benefits-info {
    padding: 10px!important;
  }
}

/* Change needed to fix the issue of ul list in navbar going outside of the navbar  */
/* @media only screen and (min-width: 992px){
html {
  font-size: 13.5px;
}
} */

.background {
    background-image: url('../images/background3.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
}

.poems-container-size {
  margin: 5rem
}

@media (min-width: 768px) {
  /* Set padding for benefits info on home page  */
  .style-benefits-info {
    padding: 25px!important;
}
}