<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" type="text/css" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="shortcut icon" type= "image/png" href="/static/images/favicon.ico">
    {% block styles %}
    {% endblock %}
    <title>Poetry Heaven</title>
</head>

<body>
    <header>
        <!-- top navbar -->
        <nav class="nav-extended grey lighten-5">
            <div class="nav-wrapper">
                <a href="{{ url_for('home') }}" class="logo"><img src="/static/images/logo2.png"
                        alt="Poetry Heaven Logo"></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons"><i
                            class="fas fa-bars"></i></i></a>
                <ul class="nav-ul right hide-on-med-and-down">
                    <li><a class="nav-link grey-text text-darken-3" href="{{ url_for('home') }}">Home</a></li>
                    <li><a class="nav-link grey-text text-darken-3" href="{{ url_for('poems') }}">Poems</a></li>
                    {% if session.user%}
                        <li><a class="nav-link grey-text text-darken-3" href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                        <li><a class="nav-link grey-text text-darken-3" href="{{ url_for('add_poem') }}">Add New Poem</a></li>
                        {% if session.user|lower == "admin"|lower %}
                        <li><a class="nav-link grey-text text-darken-3" href="{{ url_for('categories') }}">Manage Categories</a></li>
                        {% endif %}
                        <!-- Logout Modal Trigger  -->
                        <li><a class="nav-link grey-text text-darken-3 modal-trigger" href="#logout-modal">Log Out</a>
                        <!-- Logout Modal structure  -->
                        <div id="logout-modal" class="modal">
                            <div class="modal-content amber lighten-4 transparent grey-text text-darken-3">
                            <h4>Are you sure you wish to logout?</h4>
                            <div class="modal-footer amber lighten-4 transparent">
                                <a href="#" class="modal-close btn-flat btn-logout">Cancel</a>
                                <a href="{{ url_for('logout') }}" class="modal-close btn-flat btn-logout">Logout</a>
                            </div>
                            </div>
                        </div>
                        </li>                 
                    {% else %}
                        <li><a class="nav-link grey-text text-darken-3" href="{{ url_for('login') }}">Log In</a></li>
                        <li><a class="nav-link grey-text text-darken-3" href="{{ url_for('signup') }}">Sign Up</a></li>
                    {% endif %}
                    <li><a class="nav-link grey-text text-darken-3" href="{{ url_for('events') }}">Events</a></li>
                </ul>
            </div>
        </nav>
        <!--  mobile sidenav -->
        <ul class="sidenav grey lighten-5 center-align" id="mobile-demo">
            <li><div><a href="{{ url_for('home') }}" class="logo"><img src="/static/images/logo2.png"
                    alt="Poetry Heaven Logo"></a></div></li>
            <li><a class="nav-link grey-text text-darken-3" href="{{ url_for('home') }}">Home</a></li>
            <li><a class="nav-link grey-text text-darken-3" href="{{ url_for('poems') }}">Poems</a></li>
            {% if session.user%}
                <li><a class="nav-link grey-text text-darken-3" href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                <li><a class="nav-link grey-text text-darken-3" href="{{ url_for('add_poem') }}">Add New Poem</a></li>
                {% if session.user|lower == "admin"|lower %}
                <li><a class="nav-link grey-text text-darken-3" href="{{ url_for('categories') }}">Manage Categories</a></li>
                {% endif %}
                <li><a class="nav-link grey-text text-darken-3 modal-trigger" href="#logout-modal-smalldevices">Log Out</a>
                <!-- Logout Modal structure  -->
                <div id="logout-modal-smalldevices" class="modal">
                    <div class="modal-content amber lighten-4 transparent grey-text text-darken-3">
                    <h6>Are you sure you wish to logout?</h6>
                    <div class="modal-footer amber lighten-4 transparent">
                        <a href="#" class="modal-close btn-flat btn-mobile">Cancel</a>
                        <a href="{{ url_for('logout') }}" class="modal-close btn-flat btn-mobile">Logout</a>
                    </div>
                    </div>
                </div>
                </li>        
            {% else %}
                <li><a class="nav-link grey-text text-darken-3" href="{{ url_for('login') }}">Log In</a></li>
                <li><a class="nav-link grey-text text-darken-3" href="{{ url_for('signup') }}">Sign Up</a></li>
            {% endif %}
            <li><a class="nav-link grey-text text-darken-3" href="{{ url_for('events') }}">Events</a></li>
        </ul>
    </header>

    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                     <div class="row flashes">
                         <h4 class="purple lighten-4 center-align">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <main class="background">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="page-footer grey lighten-5 footer-style">
        <div class="row">
            <div class="col s12 m4 center-align">
                <!-- <h4 class="grey-text text-darken-3">Poetry Heaven <br> </h4> -->
                <h5 class="grey-text text-darken-3">Feel. Create. Connect.</h5>
                <p class="grey-text text-darken-3">
                    Share your talent with the whole World! <br>
                    Home base for poets, from beginners to experts.
                </p>
            </div>
            <div class="col s12 m4 center-align">
                <h4 class="center grey-text text-darken-3">CONTACT</h4>
                <p class="center grey-text text-darken-3">
                    poetryheaven@email.com
                </p>
            </div>
            <div class="col s12 m4 center-align">
                <ul class="list-inline">
                    <li>
                        <a class="icon-footer right grey-text text-darken-3" target="_blank" rel="noreferrer"
                            href="https://github.com/Madeline8/poetryheaven">
                            <i class="fab fa-github" aria-hidden="true"></i>
                            <span class="sr-only">GitHub</span>
                        </a>
                    </li>
                    <li>
                        <a class="icon-footer right grey-text text-darken-3" target="_blank" rel="noreferrer"
                            href="https://www.linkedin.com/in/magdalena-slapek/">
                            <i class="fab fa-linkedin-in" aria-hidden="true"></i>
                            <span class="sr-only">Linkedin</span>
                        </a>
                    </li>
                    <li>
                        <a class="icon-footer right grey-text text-darken-3" target="_blank" rel="noreferrer"
                            href="https://www.facebook.com/">
                            <i class="fab fa-facebook" aria-hidden="true"></i>
                        <span class="sr-only">Facebook</span>
                        </a>
                    </li>
                    <li>
                        <a class="icon-footer right grey-text text-darken-3" target="_blank" rel="noreferrer"
                            href="https://twitter.com/">
                            <i class="fab fa-twitter" aria-hidden="true"></i>
                            <span class="sr-only">Twitter</span>
                        </a>
                    </li>
                </ul>
                <p class=" grey-text text-darken-3">
                    © 2022 Magdalena Slapek
                </p>
            </div>
        </div>

    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>