{% extends "base.html" %}
{% block content %}

<h3 class="grey-text text-darken-2 center-align"> Manage Categories </h3>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_category') }}" class="btn-large amber lighten-3 grey-text text-darken-2">
            Add Category <i class="fa-solid fa-square-plus"></i>
        </a>
    </div>
</div>

<div class="row">
    {% for category in categories %}
        <div class="col s12 m3">
            <div class="card amber lighten-3 lighten-5 center-align">
                <div class="card-content grey-text text-darken-2">
                    <span class="card-title"><strong>{{ category.category }}</strong></span>
                </div>
                <div class="card-action">
                    <a href="{{ url_for('update_category', category_id=category._id) }}" class="btn-small amber lighten-3 grey-text text-darken-2">Update</a>
                    <a href="{{ url_for('delete_category', category_id=category._id) }}" class="btn-small amber lighten-3 lighten-5 grey-text text-darken-2">Delete</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}