{% extends "base.html" %}
{% block content %}

<div class="container">
    <h3 class="grey-text text-darken-3 center-align">Events</h3>

    <div class="row grey-text text-darken-3">
        <div class="col s12 m8 center-align">
            <h5 class="benefits-heading center-align">Young Poets Takeover @ Poetry Cafe</h5>
            <p>
                <img class="young-poet-img" src="static/images/event-young-poets.jpg" alt="Event for young poets">
            </p>
            <p>When: Saturday 23 April 2022, 11:00 am - 1:00 pm </p><br>
            <p>The Poetry Heaven's Cafe Young Poets Takeovers are a space for up-and-coming young poets and performers
                to meet one another and share their work on stage. If you want to hear from the up-and-coming stars of
                the poetry world, come along!</p><br>

            <p> This Takeover will be hosted by Dale Booton, and feature headline sets from former Birmingham Young Poet
                Laureate Aliyah Begum and award-winning young poet Tom Rowe. Tickets are totally free!</p><br>

            <p>If you are aged 25 or younger, we want to hear from you, too! Bring one poem and arrive from 10:30am to
                sign up for our open mic. We welcome all styles of poetry, and writers at all stages in their
                development. It is first come, first served and open mic slots are popular, so arrive promptly to get
                your name on the list. </p><br>


            <p> Of course, you don't have to perform to come along. We'd love to see all young poets and poetry fans
                there and we want to welcome you into our Young Poets Network community! We invite you to stay on
                afterwards for free refreshments and a chance to meet other young poetry lovers.</p><br>

            <h5 class="benefits-heading center-aligns">Feedback on your poems: Poetry 1-2-1 Sessions, March - May 22
            </h5>
            <p>
                <img class="feedback-session-img" src="static/images/events-img-feedback-session.jpg"
                    alt="Event - poems feedback session">
            </p>
            <p>When: Every Saturday and Sunday between 1st March and 30th May, 10:00 am - 3:00 pm </p>
            <p>Price: £20 per hour</p><br>
            <p>A one-to-one feedback session with an established poet offers a relaxed but in-depth analysis of up to
                150 lines of your poetry.</p><br>

            <p> It's a unique opportunity to identify strategies for further developing your writing, discuss problems
                you may be experiencing and look at strategies for taking your work forward. There will be plenty time
                to talk about all those things you need to know about writing, revising and submitting your work.</p>
            <br>

            <p> Please contact poetryheaven@email.com with any queries. </p><br>
            <h5 class="benefits-heading center-align">More Events coming soon...</h5>
        </div>
        <div class="col s12 m4 center-align">
            <h6 class="benefits-heading center-align">
                Come and visit us!<br><br>
                We're open everyday between 8am and 5pm.<br><br>
                Address: 23 West End Lane, West Hampstead, London
            </h6>
            <p>
                <img class="cafe-image" src="static/images/cafe-inside.jpg" alt="Poetry cafe interior">
            </p>
            <p>
                <img class="cafe-image" src="static/images/poetry-newspaper-cafe.jpg"
                    alt="Reading newspaper in Poetry cafe">
            </p>
            <p>
                <img class="cafe-image" src="static/images/cafe-outside.jpg" alt="Cafe outside">
            </p>
            <p>
                <img class="cafe-image" src="static/images/poetry-events-cafe.jpg" alt="Event at Poetry Cafe">
            </p>
            <p>
                <img class="cafe-image" src="static/images/poetry-cafe.jpg" alt="Photo inside of cafe.">
            </p>
            <p>
                <img class="cafe-image" src="static/images/poetry-scrabble.jpg" alt="Playing scrabble at Poetry Cafe">
            </p>
        </div>
    </div>
</div>

{% endblock %}