<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poetry</title>
</head>
<body>
    {% for poem in poems %}
        {{ poem.title }}<br>
        {{ poem.created_by }}<br>
        {{ poem.created_on }}<br>
        {{ poem.category }}<br>
        {{ poem.location }}<br>
        {{ poem.content }}<br>
        {{ poem.gender }}<br>
    {% endfor%}
    
</body>
</html>