{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="">
                <h3 class="center-align grey-text text-darken-3">
                    Hi, {{ username.capitalize() }}!
                </h3>
            </div>
        </div>
    </div>
    <div class="row">
        <h5 class="grey-text text-darken-3">MY POEMS</h5>
        {% if poems|length > 0 %}
        <ul class="collapsible">
            {% for poem in poems %}
            <li>
                <div class="row collapsible-header amber lighten-3 grey-text text-darken-3">
                    <div class="col s7 m9 ">
                        <p class="poem-title"><strong><i class="fa-solid fa-angle-down"></i> {{ poem.title }}</strong>
                        </p>
                    </div>
                    <div class="col s5 m3">
                        <a href="{{ url_for('update_poem', poems_id=poem._id) }}"
                            class="btn-small deep-purple lighten-2">UPDATE</a>
                        <!-- Modal delete trigger (credited in README file: https://materializecss.com/modals.html) -->
                        <a class="btn-small deep-purple lighten-2 modal-trigger"
                            href="#modal-delete{{ loop.index }}">DELETE</a>
                        <!-- Modal delete Structure -->
                        <div id="modal-delete{{ loop.index }}" class="modal">
                            <div class="modal-content amber lighten-4 transparent">
                                <h4>Please confirm if you wish to delete this poem</h4>
                            </div>
                            <div class="modal-footer amber lighten-4 transparent">
                                <a href="#" class="modal-close btn-flat">Cancel</a>
                                <a href="{{ url_for('delete_poem', poems_id=poems._id)}}"
                                    class="modal-close btn-flat">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapsible-body amber lighten-4 lighten-5 grey-text text-darken-3">
                    <p class="poem-additional-info">Category: {{ poem.category }}</p><br>
                    {% for line in poem.content.splitlines() %}
                    <p class="poem-content">{{ line }}</p>
                    {% endfor %}
                    <br>
                    <p class="poem-additional-info">Created By: {{ poem.created_by }}</p>
                    <p class="poem-additional-info">Gender: {{ poem.gender }}</p>
                    <p class="poem-additional-info">Created On: {{ poem.created_on }}<br></p>
                    <p class="poem-additional-info">Created In: {{ poem.location }}</p>
                </div>
                <!-- View specific poem separately -->
                <div class="collapsible-body amber lighten-4 lighten-5 grey-text text-darken-3">
                    <h6><a class="view-poem-link" href="{{ url_for('read_poem', poems_id=poem._id) }}">View Poem</a></h6>

                </div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>



{% endblock%}