{% extends "base.html" %}
{% block content %}

<!-- View poem template -->
<div class="container">
    <div class="row read-poem-background">
        <div class="col s12 amber lighten-3 grey-text text-darken-3 center-align">
            <h3 class="poem-title"><strong>{{ poem.title }}</strong></h3>
        </div>
        <div class="col s12 amber lighten-4 grey-text text-darken-3 center-align">
            <p class="poem-additional-info">Category: {{ poem.category }}</p><br>
        </div>
        <div class="col s12 amber lighten-4 grey-text text-darken-3 center-align">
            {% for line in poem.content.splitlines() %}
            <p class="poem-content">{{ line }}</p>
            {% endfor %}
        </div>

        <div class="col s12 amber lighten-4 grey-text text-darken-3 center-align">
            <p class="poem-additional-info">Created By: {{ poem.created_by }}</p>
            <p class="poem-additional-info">Gender: {{ poem.gender }}</p>
            <p class="poem-additional-info">Created On: {{ poem.created_on }}<br></p>
            <p class="poem-additional-info">Created In: {{ poem.location }}</p>
            <div class="row">
                    <a href="{{ url_for('profile', username=session['user'] ) }}"class="btn-large amber lighten-3 purple-text text-darken-3 cancel-btn center-align view-poem-go-back">
                        Go Back <i class="fa-solid fa-rectangle-xmark"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}


