{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12">
        <h3 class="poem-title"><strong>{{ poems.title }}</strong></h3>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s12 amber lighten-3 lighten-5 grey-text text-darken-2 center-align">
            <p class="poem-additional-info">Category: {{ poem.category }}</p><br>
        </div>
        <div class="col s12 amber lighten-3 lighten-5 grey-text text-darken-2 center-align">
            {% for line in poem.content.splitlines() %}
            <!-- 
                Each 'line' is just that, a line from the poem.content field in the document.
             -->
                <p class="poem-content">{{ line }}</p>
            {% endfor %}
        </div>

        <div class="col s12 amber lighten-3 lighten-5 grey-text text-darken-2 center-align">
            <p class="poem-additional-info">Created By: {{ poem.created_by }}</p>
            <p class="poem-additional-info">Gender: {{ poem.gender }}</p>
            <p class="poem-additional-info">Created On: {{ poem.created_on }}<br></p>
            <p class="poem-additional-info">Created In: {{ poem.location }}</p>
        </div>
    </div>
</div>




<ul class="collapsible">
    <!-- 
        Here you have an object called poems. You are making a for loop and calling each iteration 'poem'. You can then access the individual properties of a poem (which is itself a document in your DB)
    
    -->
    {% for poem in poems %}
    <li>
        <div class="collapsible-header amber lighten-3 lighten-5 grey-text text-darken-2">
            <i class="fa-solid fa-angle-down"></i>
            <p class="poem-title"><strong>{{ poem.title }}</strong></p>
        </div>

        <div class="collapsible-body amber lighten-4 lighten-5 grey-text text-darken-2">
            <p class="poem-additional-info">Category: {{ poem.category }}</p><br>
            <!-- 
                poem.content is a field in an individual poem. Use the splitlines() method to break this field up on each new line.

                Let's call each iteration of this a 'line' to make better sense of it when making the for loop.
            -->
            {% for line in poem.content.splitlines() %}
            <!-- 
                Each 'line' is just that, a line from the poem.content field in the document.
             -->
                <p class="poem-content">{{ line }}</p>
            {% endfor %}
            <br>
            <p class="poem-additional-info">Created By: {{ poem.created_by }}</p>
            <p class="poem-additional-info">Gender: {{ poem.gender }}</p>
            <p class="poem-additional-info">Created On: {{ poem.created_on }}<br></p>
            <p class="poem-additional-info">Created In: {{ poem.location }}</p>
        </div>

    </li>
    {% endfor %}
</ul>
{% endblock %}