{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row read-poem-background">
        <div class="col s12 amber lighten-3 grey-text text-darken-2 center-align">
            <h3 class="poem-title"><strong>{{ poem.title }}</strong></h3>
        </div>
        <div class="col s12 amber lighten-4 grey-text text-darken-2 center-align">
            <p class="poem-additional-info">Category: {{ poem.category }}</p><br>
        </div>
        <div class="col s12 amber lighten-4 grey-text text-darken-2 center-align">
            {% for line in poem.content.splitlines() %}
            <!-- 
                Each 'line' is just that, a line from the poem.content field in the document.
             -->
            <p class="poem-content">{{ line }}</p>
            {% endfor %}
        </div>

        <div class="col s12 amber lighten-4 grey-text text-darken-2 center-align">
            <p class="poem-additional-info">Created By: {{ poem.created_by }}</p>
            <p class="poem-additional-info">Gender: {{ poem.gender }}</p>
            <p class="poem-additional-info">Created On: {{ poem.created_on }}<br></p>
            <p class="poem-additional-info">Created In: {{ poem.location }}</p>
        </div>
    </div>
</div>
{% endblock %}


