{% extends "base.html" %}
{% block content%}

<div class="container">
    <h3 class="grey-text text-darken-2 center-align">Update Category</h3>

    <div class="row card-panel amber lighten-4 transparent">
        <form class="col s12" method="POST" action="{{ url_for('update_category', category_id=category._id) }}">
            <!-- Add New Category -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-book prefix grey-text text-darken-2"></i>
                    <input id="category" name="category" minlength="3" maxlength="25" type="text"
                        value="{{ category.category }}" class="validate" required>
                    <label for="category">Category Name</label>
                </div>
            </div>
            <!-- Submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button class="btn-large deep-purple lighten-2">
                        <i class="fa-solid fa-pen-to-square"> Update Category </i>
                    </button>
                    <a href="{{ url_for('categories')}}" class="btn-large amber lighten-3 purple-text text-darken-3">
                        Cancel <i class="fa-solid fa-rectangle-xmark"></i>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
