{% extends "base.html" %}
{% block content%}

<div class="container">
    <h3 class="grey-text text-darken-3 center-align">Update Poem</h3>

    <div class="row card-panel amber lighten-4 transparent">
        <form class="col s12" method="POST" action="{{ url_for('update_poem', poems_id=poem._id) }}">
            <!-- Category selection -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-book prefix grey-text text-darken-3"></i>
                    <select id="category" name="category" class="validate" required>
                        <option value="" disabled>Select Category</option>
                        {% for category in categories %}
                        {% if category.category == poem.category %}
                        <option value="{{ category.category }}" selected>{{ category.category }}</option>
                        {% else %}
                        <option value="{{ category.category }}">{{ category.category }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <label for="category">Poem's Category</label>
                </div>
            </div>
            <!-- Add Poem's Title -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-heading prefix grey-text text-darken-3"></i>
                    <input id="title" name="title" minlength="2" maxlength="20" value="{{ poem.title }}" type="text"
                        class="validate" required>
                    <label for="title">Title</label>
                </div>
            </div>
            <!-- Add Poem's Content -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix grey-text text-darken-3"></i>
                    <!-- Minus symbol means that Jinja will remove unnecessary whitespace, in this case from both sides -->
                    <textarea id="content" name="content" minlength="2" maxlength="10000"
                        class="materialize-textarea validate" required>
                            {{- poem.content -}}
                        </textarea>
                    <label for="content">Poem</label>
                </div>
            </div>
            <!-- Date Picker -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt prefix grey-text text-darken-3"></i>
                    <input id="created_on" name="created_on" type="text" value="{{ poem.created_on }}"
                        class="datepicker validate" required>
                    <label for="created_on">Created On</label>
                </div>
            </div>

            <!-- Select Gender -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-venus-mars prefix grey-text text-darken-3"></i>
                    <select id="gender" name="gender" class="validate" required>
                        <option value="" disabled>Select Gender</option>
                        {% for gender in gender %}
                        {% if gender.gender == poem.gender %}
                        <option value="{{ gender.gender }}" selected>{{ gender.gender }}</option>
                        {% else %}
                        <option value="{{ gender.gender }}">{{ gender.gender }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <label for="gender">Choose Your Gender</label>
                </div>
            </div>

            <!-- Add Location where specific poem has been created -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-globe prefix grey-text text-darken-3"></i>
                    <input id="location" name="location" minlength="2" maxlength="30" type="text"
                        value="{{ poem.location }}" class="validate" required>
                    <label for="location">Location</label>
                </div>
                <!-- Submit button -->
                <div class="row">
                    <div class="col s12 center-align">

                        <button class="btn-large amber lighten-3 grey-text text-darken-3">
                            <i class="fa-solid fa-pen-to-square"> Update Poem </i>
                        </button>
                        <!-- Cancel button -->
                        <a href="{{ url_for('profile', username=session['user'] ) }}"
                            class="btn-large amber lighten-3 purple-text text-darken-3 cancel-btn">
                            Cancel <i class="fa-solid fa-rectangle-xmark"></i>
                        </a>
                    </div>
                </div>
        </form>
    </div>
</div>
{% endblock %}
